/* Styling a button with a class selector */

  

  .employee-form-container .form{
    width: 40%;
    margin: auto;
    text-align: start;
    margin-top: 100px;
    padding: 30px;
    margin-bottom: 150px;
    border: 1px solid beige;
    border-radius: 20px;
    box-shadow: 0px 0px 1px #0000dd;
  }
  
  button {
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #2674b5;
  }

  
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .form-group input,
  .form-group textarea,
  .form-group select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .submit-button {
    background-color: #0077b6;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .submit-button:hover {
    background-color: #005a9c;
  }
  @media (max-width: 768px) {
    .container {
      flex-direction: column;
    }
  }
/* Styles for custom button component */
.custom-button {
    background-color: #ff5733;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  .custom-button:hover {
    background-color: #d24b27;
  }
    /* Custom styles for the select dropdown */
.custom-select {
    position: relative;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
    cursor: pointer;
  }
  
  .custom-select select {
    appearance: none;
    outline: none;
    border: none;
    background: transparent;
    width: 100%;
    cursor: pointer;
  }
  
  /* Style the options */
  .custom-select select option {
    background-color: #fff;
    color: #333;
  }
  
  /* Style the selected option */
  .custom-select select option:checked {
    background-color: #0077b6;
    color: #fff;
  }
  



.button {
    background-color: #3498db;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  /* Change button background color on hover */
  .button:hover {
    background-color: #2674b5;
  }
  
  .quill {
    height: 100px;
    margin-bottom: 30px;
  }